.home-content {
    height: "fit-content";
     background-color: #bfa6a0;
     padding-top: 1px;
}
.banner {
    background-color: #fffff0;
    padding: 20px;
}
div .banner {
     color: rgb(224, 34, 164);
}